.bottom-apply-btn {
    color:white !important; font-size:20px;
}
.top-apply-btn {
    background-color:#5a67d8 !important;
    color:white !important;
    width:90px !important;
    height:30px !important;
    text-align:center !important;
    line-height:30px !important;
    font-size:20px;
    margin:-7px 0 0 10px;
}

.instructor-card {
    width:49%;
    margin-right:2%;
    background-color: white;
    border: 1px solid #e5e5e5;
    border-radius: 10px;
    box-shadow: 0 1px 8px rgba(22,22,22, 0.1);
    height:500px;
}
.instructor-card-name {
    width:80%;
    height:50px;
    background-color:#e6e9f9 !important;
    margin:0 auto;
    border-radius:10px;
    margin-top:-25px;
    text-align:center;
    position:relative;
}

.the-entire-package {
    display:inline-flex; width:100%;
}

@media only screen and (max-width:750px){
    .the-entire-package {
        display:block; width:100%;
    }

    .instructor-card {
        width:100%;
        margin-right:0%;
        margin-top:10px;
        background-color: white;
        border: 1px solid #e5e5e5;
        border-radius: 10px;
        box-shadow: 0 1px 8px rgba(22,22,22, 0.1);
        height:500px;
    }
}